@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
      background-color: #f8fafc;
      font-family: 'Open Sans Variable', sans-serif;
  }
}

.tours {
    padding: 2rem 0;
    display: grid;
    gap: 2rem;
}

.btn {
  cursor: pointer;
  color: #0c11a6;
  background: #fff;
  border: transparent;
  border-radius: 0.25rem;
  letter-spacing: 1px;
  padding: 0.375rem 0.75rem;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  transition: 0.3s ease-in-out all;
  text-transform: capitalize;
  display: inline-block;
  font-weight: 500;
}

.btn-block {
  width: 100%;
}

.delete-btn {
  border: 1px solid #0c11a6;
  color: #0c11a6;
}
.delete-btn:hover {
  background: #0c11a6;
  color: #fff;
}

@media screen and (min-width: 768px) {
    .tours {
      grid-template-columns: 1fr 1fr;
      /* fix stretch */
      align-items: start;
    }
  }
  @media screen and (min-width: 992px) {
    .tours {
      grid-template-columns: 1fr 1fr 1fr;
      /* fix stretch */
      align-items: start;
    }
  }